.container {
    width: 100vw;
    
}

#content {
    
    width: 100vw;
    
    text-align: center;
}

#btn-no {
    position: absolute;
    top: 20%;
    left: 30vw;
}
#btn-yes{
    position: absolute;
    top: 20%;
    left: 60%;
    
}
.dongy{
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background-image: url('https://i0.wp.com/dl3.glitter-graphics.net/pub/1144/1144833co2b00m8rh.gif');
    background-size: 100%;
}
*{
    font-size: 110%;
}
h1,h2,h3{
    color: red;
}